<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alarmapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewAlarm"
            android:label="@string/new_alarm_page_name"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".NewAlarmDate"
            android:label="@string/new_alarm_date_page_name"
            android:parentActivityName=".NewAlarm" />
        <activity
            android:name=".NewAlarmTime"
            android:label="@string/new_alarm_time_page_name"
            android:parentActivityName=".NewAlarm" />
        <activity
            android:name=".NewAlarmTone"
            android:label="@string/new_alarm_tone_page_name"
            android:parentActivityName=".NewAlarm" />
        <activity
            android:name=".NewAlarmSnooze"
            android:label="@string/new_alarm_snooze_page_name"
            android:parentActivityName=".NewAlarm" />
        <activity
            android:name=".NewAlarmAvatar"
            android:label="@string/new_alarm_avatar_page_name"
            android:parentActivityName=".NewAlarm"></activity>
        <activity
            android:name=".NewAlarmTheme"
            android:label="@string/new_alarm_theme_page_name"
            android:parentActivityName=".NewAlarm">

        </activity>
    </application>

</manifest>